allow hal_dpmQmiMgr qmuxd_socket:dir { add_name search write };
allow hal_dpmQmiMgr qmuxd_socket:sock_file { create write };
allow hal_dpmQmiMgr qmuxd:unix_stream_socket connectto;
