on fs
    symlink /dev/block/sdf19 /dev/block/by-name/vendor_b
    symlink /dev/block/sde19 /dev/block/by-name/vendor_a
    symlink /dev/block/sdf19 /dev/block/bootdevice/by-name/vendor_b
    symlink /dev/block/sde19 /dev/block/bootdevice/by-name/vendor_a
