vendor/platform_app.te:allow platform_app mods_service:service_manager find;
vendor/platform_app.te:allow platform_app mods_service:service_manager add;

