on init
   # Change ownership for for HBM feature
   chown system system /sys/class/graphics/fb0/hbm
   # Change ownership for for ACL feature
   chown system system /sys/class/graphics/fb0/acl

on boot

   # Change ownership for vibrator
   chown root oem_5020 /sys/bus/i2c/devices/7-005a/reduce

   # Change the ownership of display TE files for tcmds
   chown root oem_5004 /sys/class/graphics/fb0/te_test
   chown root oem_5004 /sys/class/graphics/fb0/te_enable
   chown root oem_5004 /sys/class/graphics/fb0/frame_counter

   # in FBE mode, /data is here
   write /sys/block/sdb/queue/read_ahead_kb 512

   # Wifi firmware reload path
   chown wifi wifi /sys/module/wlan/parameters/fwpath
   chown wifi wifi /sys/kernel/boot_wlan/boot_wlan

service vl53l1_daemon /vendor/bin/vl53l1_daemon
    class late_start
    user root
    group root
    socket vl53l1_daemon stream 660 root system

service mmi-laser-sh /vendor/bin/init.mmi.laser.sh
    class core
    user root
    oneshot
