on nonencrypted
    start gbmodinstall

on property:vold.decrypt=trigger_post_fs_data
    start gbmodinstall

service mods_camd /vendor/bin/mods_camd
    class late_start
    user camera
    group camera system inet input graphics
    disabled
    rlimit 14 4 4
    ioprio rt 4

service gbmodinstall /vendor/bin/init.gbmods.sh
    user root
    oneshot
    disabled

